{pre_hooks, [{compile, "./priv/make_dict.py -d ./priv/dictionaries/ -i ./include -m ./priv/"}]}.
{post_hooks, [{compile, "sed -i -e \"s,%VSN%,${VSN},g\" ebin/eradius.app"}]}.
{clean_files, ["ebin/*.beam", "ebin/eradius.app", "include/dictionary*.hrl", "priv/dictionary*.map"]}.
{eunit_opts, [verbose]}.
